{
  "defaultSeverity": "warning",
  "plugins": [
    "@ronilaukkarinen/stylelint-a11y",
    "@ronilaukkarinen/stylelint-value-no-unknown-custom-properties",
    "stylelint-declaration-strict-value",
    "stylelint-scss",
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
    "order/order": [
      {
        "type": "at-rule",
        "name": "import"
      },
      {
        "type": "at-rule",
        "name": "include"
      },
      {
        "type": "at-rule",
        "name": "extend"
      },
      "custom-properties",
      "dollar-variables",
      "declarations",
      "rules",
      {
        "type": "at-rule",
        "name": "media"
      }
    ],
    "order/properties-alphabetical-order": true,
    "a11y/no-outline-none": true,
    "a11y/selector-pseudo-class-focus": true,
    "alpha-value-notation": "number",
    "declaration-block-no-redundant-longhand-properties": null,
    "custom-property-empty-line-before": "never",
    "color-no-invalid-hex": true,
    "color-hex-length": "short",
    "selector-type-case": "lower",
    "function-name-case": "lower",
    "value-keyword-case": "lower",
    "selector-attribute-quotes": "always",
    "comment-whitespace-inside": "always",
    "selector-max-specificity": "2,6,6",
    "block-no-empty": true,
    "declaration-empty-line-before": null,
    "font-family-no-missing-generic-family-keyword": true,
    "font-family-name-quotes": "always-where-required",
    "at-rule-no-unknown": null,
    "no-invalid-position-at-import-rule": null,
    "declaration-no-important": null,
    "comment-empty-line-before": null,
    "function-url-quotes": "always",
    "unit-no-unknown": true,
    "property-no-unknown": true,
    "no-duplicate-selectors": true,
    "length-zero-no-unit": true,
    "font-weight-notation": "numeric",
    "number-max-precision": 3,
    "selector-class-pattern": null,
    "selector-max-class": 6,
    "selector-max-combinators": 6,
    "selector-max-compound-selectors": 6,
    "selector-max-pseudo-class": 4,
    "selector-max-universal": 2,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "selector-no-qualifying-type": null,
    "declaration-block-no-duplicate-properties": true,
    "no-unknown-animations": true,
    "selector-pseudo-element-colon-notation": "double",
    "shorthand-property-no-redundant-values": true,
    "declaration-block-single-line-max-declarations": 1,
    "scale-unlimited/declaration-strict-value": [
      "/color$/",
      {
        "ignoreValues": [
          "transparent",
          "currentColor"
        ]
      }
    ],
    "csstools/value-no-unknown-custom-properties": [
      true,
      {
        "importFrom": [
          "assets/css/dev/dark-mode.css"
        ]
      }
    ],
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": [
          "first-nested",
          "after-single-line-comment"
        ],
        "ignore": [
          "inside-block"
        ]
      }
    ],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
          "blockless-after-same-name-blockless",
          "blockless-after-blockless"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "no-descending-specificity": null,
    "max-nesting-depth": [
      5,
      {
        "ignore": [
          "blockless-at-rules",
          "pseudo-classes"
        ]
      }
    ],
    "declaration-property-unit-allowed-list": [
      {
        "font-size": [
          "rem",
          "em",
          "px"
        ],
        "/^animation/": [
          "ms",
          "s"
        ],
        "line-height": [
          "px",
          "%",
          ""
        ]
      }
    ],
    "a11y/font-size-is-readable": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/line-height-is-vertical-rhythmed": [
      null,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-display-none": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-obsolete-element": [
      true,
      {
        "severity": "warning"
      }
    ],
    "a11y/no-text-align-justify": [
      true,
      {
        "severity": "warning"
      }
    ],
    "property-disallowed-list": [
      "font",
      "animation",
      "background"
    ]
  },
  "ignoreFiles": [
    "**/*.css",
    "**/**/*.css",
    "css/dev/dark-mode.css",
    "css/prod/dark-mode.css"
  ]
}