// stylelint-disable selector-id-pattern, selector-max-specificity, declaration-no-important
.acf-switch .acf-switch-slider,
.acf-input-prepend,
.acf-input-append,
.acf-switch,
.acf-table tr > td,
.acf-table tr > thead,
.acf-tfoot,
.acf-thead,
#acf-field-group-fields .acf-field-list .no-fields-message,
.acf-thead > li,
#acf-field-group-fields .acf-field-list,
.acf-fields.-left > .acf-field::before,
#acf-field-group-fields .acf-field-list-wrap,
#wpcontent .acf-admin-toolbar {
  background-color: var(--color-background-default) !important;
  border-color: var(--color-border-light) !important;
  box-shadow: none !important;
  color: var(--color-paragraph) !important;
}
