// stylelint-disable selector-id-pattern, selector-max-specificity, declaration-no-important, max-line-length
@import 'colors';
@import 'variables';
@import 'mixins';

body {
  background-color: var(--color-body-background);
}

/* Links */
a {
  color: var(--color-link);

  &:hover,
  &:active,
  &:focus {
    color: var(--color-link-focus);
  }
}

#post-body .misc-pub-post-status::before,
#post-body #visibility::before,
.curtime #timestamp::before,
#post-body .misc-pub-revisions::before,
span.wp-media-buttons-icon::before {
  color: currentColor;
}

.wp-core-ui .button-link {
  color: var(--color-link);

  &:hover,
  &:active,
  &:focus {
    color: var(--color-link-focus);
  }
}

.media-modal .delete-attachment,
.media-modal .trash-attachment,
.media-modal .untrash-attachment,
.wp-core-ui .button-link-delete {
  color: var(--color-wordpress-red);
}

.media-modal .delete-attachment:hover,
.media-modal .trash-attachment:hover,
.media-modal .untrash-attachment:hover,
.media-modal .delete-attachment:focus,
.media-modal .trash-attachment:focus,
.media-modal .untrash-attachment:focus,
.wp-core-ui .button-link-delete:hover,
.wp-core-ui .button-link-delete:focus {
  color: var(--color-wordpress-orange);
}

input[type="radio"]:checked::before {
  background-color: var(--color-form-checked);
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:focus,
.wp-core-ui input[type="reset"]:active {
  color: var(--color-link-focus);
}

input[type="password"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
select:focus,
textarea:focus {
  border-color: var(--highlight-color);
  box-shadow: 0 0 0 1px var(--highlight-color);
}

body .postbox-header,
body #dashboard_quick_press .drafts,
body .drafts {
  border-color: rgb(255 255 255 / .1) !important;
}

input[type="checkbox"] {
  background-color: transparent !important;
}

#dashboard-widgets .postbox-container .empty-container {
  outline: 2px dashed rgb(255 255 255 / .2) !important;
}

.check-column input[type="checkbox"] {
  border-color: rgb(255 255 255 / .2) !important;
}

.wp-core-ui {
  .button {
    @include button(var(--color-button));
  }

  .button.active,
  .button.active:focus,
  .button.active:hover {
    border-color: var(--color-button);
    box-shadow: inset 0 2px 5px -3px var(--color-button);
  }

  .button.active:focus {
    box-shadow: 0 0 0 1px #32373c;
  }

  .button-primary {
    @include button(var(--color-button));
  }

  .button-group > .button.active {
    border-color: var(--color-button);
  }

  .wp-ui-primary {
    background-color: var(--color-dark-grey);
    color: var(--text-color);
  }

  .wp-ui-text-primary {
    color: var(--color-paragraph);
  }

  .wp-ui-highlight {
    background-color: var(--menu-highlight-background);
    color: var(--menu-highlight-text);
  }

  .wp-ui-text-highlight {
    color: var(--menu-highlight-background);
  }

  .wp-ui-notification {
    background-color: var(--menu-bubble-background);
    color: var(--menu-bubble-text);
  }

  .wp-ui-text-notification {
    color: var(--menu-bubble-background);
  }

  .wp-ui-text-icon {
    color: var(--color-icons);
  }

  // @if ($low-contrast-theme != "true") {
  // .button,
  // .button-secondary {
  //   border-color: var(--highlight-color);
  //   color: var(--highlight-color);
  // }

  // .button.hover,
  // .button:hover,
  // .button-secondary:hover {
  //   border-color: darken(var(--highlight-color), 10);
  //   color: darken(var(--highlight-color), 10);
  // }

  // .button.focus,
  // .button:focus,
  // .button-secondary:focus {
  //   border-color: lighten(var(--highlight-color), 10);
  //   box-shadow: 0 0 0 1px lighten(var(--highlight-color), 10);
  //   color: darken(var(--highlight-color), 20);
  // }

  //     .button-primary {
  //       &:hover,
  //       &:focus {
  //         color: #fff;
  //       }
  //     }
  //   }
}

// @if $low-contrast-theme == "true" {
//   .wrap .page-title-action:hover,
//   .wrap .page-title-action:focus {
//     background-color: var(--menu-background);
//     color: var(--menu-text);
//   }
// }

// @else {
// .wrap .page-title-action,
// .wrap .page-title-action:active {
//   border: 1px solid var(--highlight-color);
//   color: var(--highlight-color);
// }

// .wrap .page-title-action:hover {
//   border-color: darken(var(--highlight-color), 10);
//   color: darken(var(--highlight-color), 10);
// }

// .wrap .page-title-action:focus {
//   border-color: lighten(var(--highlight-color), 10);
//   box-shadow: 0 0 0 1px lighten(var(--highlight-color), 10);
//   color: darken(var(--highlight-color), 20);
// }
// }
.view-switch a.current::before {
  color: var(--menu-background);
}

.view-switch a:hover::before,
.view-switch a:focus::before {
  color: var(--menu-bubble-background);
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background-color: var(--menu-background);
}

#adminmenu a {
  color: var(--menu-text);
}

#adminmenu div.wp-menu-image::before {
  color: var(--color-icons);
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  background-color: var(--menu-highlight-background);
  color: var(--menu-highlight-text);
}

#adminmenu li.menu-top:hover div.wp-menu-image::before,
#adminmenu li.menu-top:focus div.wp-menu-image::before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image::before {
  color: var(--color-icons);
}

/* Active tabs use a bottom border color that matches the page background color. */
.nav-tab-active:hover,
.about-wrap .nav-tab-active,
.nav-tab-active,
.nav-tab-active:focus {
  background-color: var(--color-body-background);
  border-bottom-color: var(--color-body-background);
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background-color: var(--menu-submenu-background);
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover::after,
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:focus::after {
  border-right-color: var(--menu-submenu-background);
}

.auto-fold #adminmenu .wp-menu-name,
#adminmenu .wp-submenu .wp-submenu-head {
  color: var(--color-paragraph);
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: var(--menu-submenu-current-text);

  &:focus,
  &:hover {
    color: var(--menu-submenu-focus-text);
  }
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: var(--menu-submenu-current-text);

  &:hover,
  &:focus {
    color: var(--menu-submenu-focus-text);
  }
}

ul#adminmenu a.wp-has-current-submenu::after,
ul#adminmenu > li.current > a.current::after {
  border-right-color: var(--color-body-background);
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  background-color: var(--menu-current-background);
  color: var(--color-paragraph);
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image::before,
#adminmenu a.current:hover div.wp-menu-image::before,
#adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image::before,
#adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image::before,
#adminmenu li:hover div.wp-menu-image::before,
#adminmenu li a:focus div.wp-menu-image::before,
#adminmenu li.opensub div.wp-menu-image::before {
  color: var(--color-icons);
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  background-color: var(--menu-bubble-background);
  color: var(--menu-bubble-text);
}

#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins,
#adminmenu li.current a .awaiting-mod,
#adminmenu li:focus a .awaiting-mod,
#adminmenu li.menu-top:focus > a .update-plugins {
  color: var(--menu-bubble-current-text);
}

/* Admin Menu: collapse button */
#collapse-button {
  color: var(--menu-collapse-text);
}

#collapse-button:hover,
#collapse-button:focus {
  color: var(--menu-submenu-focus-text);
}

/* Admin Bar */
#wpadminbar {
  background-color: var(--menu-background);
  color: var(--menu-text);
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: var(--menu-text);
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon::before,
#wpadminbar .ab-item::before,
#wpadminbar .ab-item::after {
  color: var(--color-icons);
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  background-color: var(--menu-submenu-background);
  color: var(--menu-submenu-focus-text);
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
  color: var(--menu-submenu-focus-text);
}

#wpadminbar:not(.mobile) li:hover .ab-icon::before,
#wpadminbar:not(.mobile) li:hover .ab-item::before,
#wpadminbar:not(.mobile) li:hover .ab-item::after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch::before,
#wpadminbar:not(.mobile) li:focus .ab-icon::before,
#wpadminbar:not(.mobile) li:focus .ab-item::before,
#wpadminbar:not(.mobile) li:focus .ab-item::after,
#wpadminbar:not(.mobile) li:focus #adminbarsearch::before {
  color: var(--menu-highlight-icon);
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background-color: var(--menu-submenu-background);
}

#wpadminbar.nojs .quicklinks .menupop:hover ul li a,
#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:focus ul li a {
  color: var(--menu-submenu-current-text);
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item::before {
  color: var(--color-icons);
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop li a:hover strong,
#wpadminbar .quicklinks .menupop li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon::before,
#wpadminbar li:hover .ab-item::before,
#wpadminbar li a:focus .ab-icon::before,
#wpadminbar li .ab-item:focus::before,
#wpadminbar li .ab-item:focus .ab-icon::before,
#wpadminbar li.hover .ab-icon::before,
#wpadminbar li.hover .ab-item::before,
#wpadminbar li:hover #adminbarsearch::before,
#wpadminbar li #adminbarsearch.adminbar-focused::before {
  color: var(--menu-submenu-focus-text);
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover::before,
#wpadminbar.mobile .quicklinks .ab-icon::before,
#wpadminbar.mobile .quicklinks .ab-item::before {
  color: var(--menu-submenu-focus-text);
}

#wpadminbar.mobile .quicklinks .hover .ab-icon::before,
#wpadminbar.mobile .quicklinks .hover .ab-item::before {
  color: var(--color-icons);
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch::before {
  color: var(--color-icons);
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: var(--menu-text);
}

/* Admin Bar: recovery mode */
#wpadminbar #wp-admin-bar-recovery-mode {
  background-color: var(--adminbar-recovery-exit-background);
  color: var(--adminbar-recovery-exit-text);
}

#wpadminbar #wp-admin-bar-recovery-mode .ab-item,
#wpadminbar #wp-admin-bar-recovery-mode a.ab-item {
  color: var(--adminbar-recovery-exit-text);
}

#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item,
#wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus {
  color: var(--adminbar-recovery-exit-text);
}

/* Admin Bar: my account */
#wpadminbar #wp-admin-bar-user-info .display-name {
  color: var(--menu-text);
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name,
#wpadminbar #wp-admin-bar-user-info a:focus .display-name {
  color: var(--menu-submenu-focus-text);
}

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: var(--highlight-color);
  // border-color: darken(var(--highlight-color), 5%);
}

.wp-pointer .wp-pointer-content h3::before {
  color: var(--highlight-color);
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: var(--highlight-color);
}

/* Media */
.media-item .bar,
.media-progress-bar div {
  background-color: var(--highlight-color);
}

.details.attachment {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px var(--highlight-color);
}

.attachment.details .check {
  background-color: var(--highlight-color);
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px var(--highlight-color);
}

.media-selection .attachment.selection.details .thumbnail {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px var(--highlight-color);
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme a:hover::after,
.theme-browser .theme.add-new-theme a:focus::after {
  background-color: var(--highlight-color);
}

.theme-browser .theme.add-new-theme a:hover span::after,
.theme-browser .theme.add-new-theme a:focus span::after {
  color: var(--highlight-color);
}

.theme-section.current,
.theme-filter.current {
  border-bottom-color: var(--menu-background);
}

body.more-filters-opened .more-filters {
  background-color: var(--menu-background);
  color: var(--menu-text);
}

body.more-filters-opened .more-filters::before {
  color: var(--menu-text);
}

body.more-filters-opened .more-filters:hover,
body.more-filters-opened .more-filters:focus {
  background-color: var(--menu-highlight-background);
  color: var(--menu-highlight-text);
}

body.more-filters-opened .more-filters:hover::before,
body.more-filters-opened .more-filters:focus::before {
  color: var(--menu-highlight-text);
}

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: var(--menu-highlight-background);
  color: var(--menu-highlight-text);
}

.widgets-chooser li.widgets-chooser-selected::before,
.widgets-chooser li.widgets-chooser-selected:focus::before {
  color: var(--menu-highlight-text);
}

/* Responsive Component */
div#wp-responsive-toggle a::before {
  color: var(--color-icons);
}

.wp-responsive-open div#wp-responsive-toggle a {
  background-color: var(--menu-highlight-background);
  // ToDo: make inset border
  border-color: transparent;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background-color: var(--menu-submenu-background);
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon::before {
  color: var(--color-icons);
}

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item.mce-selected,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item-normal.mce-active,
.mce-container.mce-menu .mce-menu-item-preview.mce-active {
  background-color: var(--highlight-color);
}

/* Customizer */
#customize-controls .control-section:hover > .accordion-section-title,
#customize-controls .control-section .accordion-section-title:hover,
#customize-controls .control-section.open .accordion-section-title,
#customize-controls .control-section .accordion-section-title:focus {
  border-left-color: var(--highlight-color);
  color: var(--highlight-color);
}

.customize-controls-close:focus,
.customize-controls-close:hover,
.customize-controls-preview-toggle:focus,
.customize-controls-preview-toggle:hover {
  border-top-color: var(--highlight-color);
  color: var(--highlight-color);
}

.customize-panel-back:hover,
.customize-panel-back:focus,
.customize-section-back:hover,
.customize-section-back:focus {
  border-left-color: var(--highlight-color);
  color: var(--highlight-color);
}

.customize-screen-options-toggle:hover,
.customize-screen-options-toggle:active,
.customize-screen-options-toggle:focus,
.active-menu-screen-options .customize-screen-options-toggle,
#customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:hover,
#customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:active,
#customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle:focus {
  color: var(--highlight-color);
}

// .wp-customizer .menu-item .submitbox .submitdelete:focus,
// .customize-screen-options-toggle:focus::before,
// #customize-controls .customize-info .customize-help-toggle:focus::before,
// .wp-customizer button:focus .toggle-indicator::before,
// .menu-delete:focus,
// .menu-item-bar .item-delete:focus::before,
// #available-menu-items .item-add:focus::before {
//   box-shadow: 0 0 0 1px lighten(var(--highlight-color), 10), 0 0 2px 1px var(--highlight-color);
// }
#customize-controls .customize-info.open .customize-help-toggle,
#customize-controls .customize-info .customize-help-toggle:focus,
#customize-controls .customize-info .customize-help-toggle:hover {
  color: var(--highlight-color);
}

.control-panel-themes .customize-themes-section-title:focus,
.control-panel-themes .customize-themes-section-title:hover {
  border-left-color: var(--highlight-color);
  color: var(--highlight-color);
}

.control-panel-themes .theme-section .customize-themes-section-title.selected::after {
  background-color: var(--highlight-color);
}

.control-panel-themes .customize-themes-section-title.selected {
  color: var(--highlight-color);
}

#customize-theme-controls .control-section:hover > .accordion-section-title::after,
#customize-theme-controls .control-section .accordion-section-title:hover::after,
#customize-theme-controls .control-section.open .accordion-section-title::after,
#customize-theme-controls .control-section .accordion-section-title:focus::after,
#customize-outer-theme-controls .control-section:hover > .accordion-section-title::after,
#customize-outer-theme-controls .control-section .accordion-section-title:hover::after,
#customize-outer-theme-controls .control-section.open .accordion-section-title::after,
#customize-outer-theme-controls .control-section .accordion-section-title:focus::after {
  color: var(--highlight-color);
}

.customize-control .attachment-media-view .button-add-media:focus {
  border-color: var(--highlight-color);
  border-style: solid;
  box-shadow: 0 0 0 1px var(--highlight-color);
  outline: 2px solid transparent;
}

.wp-full-overlay-footer .devices button:focus,
.wp-full-overlay-footer .devices button.active:hover {
  border-bottom-color: var(--highlight-color);
}

.wp-core-ui .wp-full-overlay .collapse-sidebar:hover,
.wp-core-ui .wp-full-overlay .collapse-sidebar:focus {
  color: var(--highlight-color);
}

// .wp-full-overlay .collapse-sidebar:hover .collapse-sidebar-arrow,
// .wp-full-overlay .collapse-sidebar:focus .collapse-sidebar-arrow {
//   box-shadow: 0 0 0 1px lighten(var(--highlight-color), 10), 0 0 2px 1px var(--highlight-color);
// }
.wp-full-overlay-footer .devices button:hover::before,
.wp-full-overlay-footer .devices button:focus::before {
  color: var(--highlight-color);
}
