// The colors below are loosely based on the WordPress branding colours.
// @link https://make.wordpress.org/design/handbook/design-guide/foundations/colors/
:root {
  --color-paragraph: #f2f2f2;
  --color-white: #f2f2f2;
  --color-black: #12141a;
  --color-hover: #fafafa;
  --menu-icon: #fafafa;
  --color-grey: rgb(255 255 255 / .6);
  --color-grey-two: rgb(255 255 255 / .7);
  --color-border-light: rgb(255 255 255 / .1);
  --color-light-grey: #f2f2f2;
  --color-darkgrey: rgb(255 255 255 / .5);
  --color-grey-alt: rgb(255 255 255 / .6);
  --color-foggy-mountain: #393939;
  --color-lighter-grey: rgb(255 255 255 / .6);
  --color-screechin-white: rgb(255 255 255 / .6);
  --color-pickled-bluewood: rgb(255 255 255 / .8);
  --color-figcaptions-rgb: 155 155 155;
  --color-post-author-background-rgb: 18 20 26;
  --color-post-author-border: #69634e;
  --color-midnight-gray: #bbb;
  --color-background-default: #12141a;
  --color-blue: #2271b1;
  --color-medium-blue: #00a0d2;
  --color-clear: transparent;
  --color-accent-red: #dc3232;
  --color-accent-orange: #f56e28;
  --color-accent-yellow: #ffb900;
  --color-accent-green: #46b450;
  --color-accent-blue: var(--color-blue);
  --color-accent-purple: #826eb4;
  --color-base-grey: #14171d;
  --color-heavy-grey: #191d24;
  --color-dark-grey: #191d24;
  --color-charade: #242933;
  --color-ultra-grey: #050608;
  --color-dark-silver: #12141a;
  --color-base-blue: #2e74aa;
  --color-light-blue: #4092d2;
  --color-dark-blue: #2c5f88;
  --color-ultra-blue: #1f3f58;
  --color-bright-blue: #30ceff;
  --color-editor-lavender: #c678dd;
  --color-editor-sunglo: #e06c75;
  --color-editor-olivine: #98c379;
  --color-primary: var(--color-blue);
  --color-secondary: var(--color-dark-silver);
  --color-wordpress-red: #a00;
  --color-wordpress-orange: #dc3232;
}
