// stylelint-disable selector-id-pattern, selector-max-specificity, declaration-no-important
body.wp-admin:not(.gutenberg-editor-page) {
  color: var(--color-light-grey);

  #adminmenu .awaiting-mod,
  #adminmenu .update-plugins,
  #wpadminbar .wp-ui-notification {
    background-color: var(--color-primary);
  }

  #wpbody,
  #wpfooter {
    background-color: var(--color-base-grey);
    color: var(--color-paragraph);

    p,
    code,
    kbd,
    label,
    .form-table th,
    .form-wrap label,
    .form-wrap p,
    p.description,
    .importer-title,
    .menu-in-location,
    .theme-location-set {
      color: var(--color-paragraph);
    }

    #wpbody-content {
      background-color: var(--color-base-grey);
    }

    #wpadminbar * {
      // stylelint-disable-next-line
      color: inherit !important;
    }

    table {
      background-color: var(--color-dark-grey);
      border-color: var(--color-border-light);

      p {
        color: var(--color-paragraph);
      }

      tr {
        background-color: var(--color-dark-grey);

        th,
        td {
          background-color: var(--color-dark-grey);
          color: var(--color-paragraph);
        }
      }

      &.widefat {
        background-color: var(--color-dark-grey);
        border-color: var(--color-border-light);

        thead,
        tfoot {
          background-color: var(--color-dark-grey);

          th,
          td {
            // stylelint-disable-next-line
            background-color: var(--color-dark-grey) !important;
            border-bottom-color: var(--color-base-grey);
            border-top-color: var(--color-ultra-grey);
            color: var(--color-paragraph);
          }
        }

        p {
          color: var(--color-paragraph);
        }
      }

      &.striped tbody tr {
        background-color: var(--color-dark-grey);

        &:nth-child(odd) {
          background-color: var(--color-base-grey);
        }
      }

      &.plugins {
        .active td,
        .active th {
          background-color: var(--color-charade);
        }

        tr.active + tr.inactive td,
        tr.active + tr.inactive th,
        tr.active.plugin-update-tr + tr.inactive td,
        tr.active.plugin-update-tr + tr.inactive th {
          box-shadow: inset 0 1px 0 rgb(0 0 0 / .02), inset 0 -1px 0 var(--color-base-grey);
        }

        .active th.check-column,
        .plugin-update-tr.active td {
          border-left: 4px solid var(--color-primary);
        }
      }

      &.wp-list-table {
        tr {
          background-color: var(--color-dark-grey);
        }

        tr th,
        tr td {
          color: var(--color-paragraph);

          *::before,
          *::after {
            color: var(--color-paragraph);
          }
        }
      }

      &.updates-table {
        tr {
          background-color: var(--color-dark-grey);
        }
      }
    }

    .tablenav {
      p,
      span {
        color: var(--color-paragraph);
      }

      .tablenav-pages-navspan {
        background-color: var(--color-base-grey);
        border-color: var(--color-border-light);
        color: var(--color-paragraph);
      }

      .tablenav-pages a {
        background-color: var(--color-dark-silver);
        border: 1px solid var(--color-base-grey);

        span {
          color: var(--color-white);
        }

        &:hover,
        &:focus {
          background-color: var(--color-medium-blue);
          border-color: var(--color-border-light);
        }
      }
    }

    .subsubsub,
    .subsubsub li {
      color: var(--color-paragraph);

      a {
        color: var(--color-bright-blue);

        span.count,
        &.current span.count {
          color: var(--color-paragraph);
        }
      }

      a.current {
        color: var(--color-white);
      }
    }

    .notice,
    .error,
    .updated,
    .update-nag {
      background-color: var(--color-charade);
    }

    .notice p,
    .updated p,
    .fileedit-sub,
    .about-wrap h1,
    .about-wrap .about-text,
    #bulk-titles div a::before,
    .notice-dismiss::before,
    .tagchecklist .ntdelbutton .remove-tag-icon::before,
    .welcome-panel .welcome-panel-close::before,
    .try-gutenberg-panel .try-gutenberg-panel-close::before,
    .pressthis-js-toggle .dashicons,
    .try-gutenberg-panel p,
    .try-gutenberg-panel-column p.about-description,
    .howto,
    .item-type,
    .is-submenu,
    .nonessential,
    #future-posts ul span,
    #published-posts ul span,
    #dashboard-widgets h3,
    #dashboard-widgets h4,
    #dashboard_quick_press .drafts h2,
    #dashboard_right_now li a::before,
    #dashboard_right_now li span::before,
    .welcome-panel .welcome-icon::before,
    .community-events li,
    #dashboard_activity .subsubsub a .count,
    #dashboard_activity .subsubsub a.current .count,
    #latest-comments #the-comment-list .comment-meta,
    #dashboard_quick_press .drafts li time,
    #title-wrap #title-prompt-text,
    .textarea-wrap #content-prompt-text,
    #post-body ul.add-menu-item-tabs li.tabs a,
    #post-body ul.category-tabs li.tabs a,
    #side-sortables .add-menu-item-tabs .tabs a,
    #side-sortables .category-tabs .tabs a,
    .wp-tab-bar .wp-tab-active a,
    .link-to-original,
    .accordion-section-title::after,
    .handlediv,
    .item-edit,
    .postbox .handlediv.button-link,
    .sidebar-name-arrow,
    .edit-comment-author,
    #comment-link-box,
    #edit-slug-box,
    .inactive-sidebar .description,
    .widget-holder .description,
    #available-widgets .widget-description,
    #widgets-right a.widget-control-edit,
    .in-widget-title,
    .edit-attachment-frame .attachment-info .filename,
    .attachment-details .setting span,
    .compat-item label span,
    .media-sidebar .setting span,
    .upload-plugin .install-help,
    .upload-theme .install-help,
    .subtitle {
      color: var(--color-paragraph);
    }

    .try-gutenberg-panel-content hr {
      border-color: var(--color-border-light);
    }

    .spinner {
      background-color: var(--color-white);
      border: 1px solid var(--color-white);
      border-radius: 100%;
    }

    code,
    kbd {
      background-color: rgb(0 0 0 / .25);
    }

    ul#adminmenu a.wp-has-current-submenu::after,
    ul#adminmenu > li.current > a.current::after {
      border-right-color: var(--color-base-grey);
    }

    #activity-widget #the-comment-list .comment,
    #activity-widget #the-comment-list .pingback {
      box-shadow: inset 0 1px 0 rgb(35 40 46);
    }

    #templateside {
      > ul {
        background-color: var(--color-base-grey);
        border-color: var(--color-border-light);

        li a,
        li span {
          background-color: var(--color-clear);

          // stylelint-disable-next-line
          &.hover,
          &:hover,
          &.hover,
          &:focus {
            background-color: var(--color-dark-grey);
            color: var(--color-paragraph);
          }
        }
      }
    }

    p.popular-tags,
    .upload-plugin .wp-upload-form,
    .upload-theme .wp-upload-form,
    #screen-meta,
    #contextual-help-link-wrap,
    #screen-options-link-wrap,
    .quicktags-toolbar,
    .attachment-media-view,
    .media-widget-preview.media_audio,
    .media-widget-preview.media_image,
    .media-upload-form .media-item {
      background-color: var(--color-dark-grey);
      border-color: var(--color-border-light);
    }

    #show-settings-link,
    #contextual-help-link {
      box-shadow: none;
    }

    #contextual-help-link-wrap,
    #screen-options-link-wrap {
      color: var(--color-paragraph);

      button {
        background-color: var(--color-dark-grey);
        border-color: var(--color-border-light);
        color: var(--color-paragraph);

        &::after {
          color: var(--color-paragraph);
        }

        &:hover,
        &:focus {
          background-color: var(--color-dark-grey);
          border-color: var(--color-border-light);
          color: var(--color-white);

          &::after {
            color: var(--color-white);
          }
        }
      }
    }

    #wpwrap,
    #contextual-help-back,
    #plugin-information-content,
    .notification-dialog {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);
    }

    .widgets-holder-wrap {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);

      .sidebar-name {
        &:hover,
        &:focus {
          button {
            span {
              color: var(--color-white);
            }
          }
        }
      }

      .widgets-sortables {
        background-color: var(--color-base-grey);
      }
    }

    #widgets-left,
    #widgets-right {
      .widget {
        .widget-top {
          &:hover,
          &:focus {
            border-color: var(--color-border-light);
          }

          .widget-control-edit {
            background-color: var(--color-dark-grey);
            border-left-color: var(--color-clear);
            color: var(--color-paragraph);

            &:hover,
            &:focus {
              background-color: var(--color-dark-silver);
              border-left-color: var(--color-clear);
              color: var(--color-white);
            }
          }
        }

        ul.widgets-chooser-sidebars {
          border-color: var(--color-border-light);

          li {
            background-color: var(--color-dark-grey);
            border-color: var(--color-border-light);
            color: var(--color-paragraph);

            // stylelint-disable-next-line
            &.widgets-chooser-selected {
              background-color: var(--color-accent-blue);
              color: var(--color-white);
            }

            &:hover,
            &:focus {
              background-color: var(--color-ultra-grey);
              color: var(--color-white);
            }
          }
        }
      }
    }

    .contextual-help-tabs {
      .active a {
        background-color: var(--color-base-grey);
        border-color: var(--color-border-light);
        color: var(--color-paragraph);
      }

      a:hover,
      a:focus {
        color: var(--color-white);
      }
    }

    #screen-meta-links .show-settings:active,
    #screen-meta-links .show-settings:focus,
    #screen-meta-links .show-settings:hover,
    #contextual-help-wrap h5,
    #screen-options-wrap h5,
    #screen-options-wrap legend,
    #screen-meta-links .show-settings {
      color: var(--color-paragraph);

      &:hover,
      &:focus {
        color: var(--color-white);

        &::before,
        &::after {
          color: var(--color-white);
        }
      }
    }

    .try-gutenberg-panel,
    .welcome-panel,
    .postbox,
    .card,
    .stuffbox,
    #activity-widget #the-comment-list .comment-item,
    .community-events ul,
    .wp-filter,
    .menu-edit #post-body {
      background-color: var(--color-dark-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);

      p,
      span {
        color: var(--color-paragraph);
      }
    }

    .menu-edit {
      #nav-menu-header,
      #nav-menu-footer {
        background-color: var(--color-ultra-grey);
      }
    }

    .card {
      table,
      thead,
      tbody,
      tfoot,
      tr,
      th,
      td {
        background-color: var(--color-clear);
      }
    }

    .try-gutenberg-panel img,
    .activity-block,
    #dashboard_activity .subsubsub,
    #dashboard_right_now .sub,
    .community-events li:first-child,
    .community-events li ~ li,
    .community-events-footer,
    .community-events .activity-block.last {
      border-color: var(--color-border-light);
    }

    .pressthis-bookmarklet span {
      color: var(--color-base-grey);
    }

    .color-option:hover,
    .accordion-section-content,
    .color-option.selected,
    .color-option:focus,
    .filter-drawer,
    .wp-filter .favorites-form,
    .filter-group,
    .filtered-by .tag {
      background-color: var(--color-dark-grey);
      border-color: var(--color-border-light);
    }

    .plugin-card {
      background-color: var(--color-dark-grey);

      p,
      .column-compatibility span::before {
        color: var(--color-paragraph);
      }
    }

    .plugin-card-bottom,
    .notice-warning.notice-alt,
    #the-comment-list .unapproved td,
    #the-comment-list .unapproved th,
    #the-comment-list div.undo,
    #the-comment-list tr.undo {
      background-color: var(--color-charade);
    }

    .plugin-card,
    .plugin-card-bottom,
    #nav-menu-header,
    #menu-management .menu-edit,
    .wp-editor-container {
      border-color: var(--color-border-light);
    }

    .wp-filter .button.drawer-toggle {
      &,
      &::before {
        color: var(--color-paragraph);
      }

      &:hover,
      &:focus,
      &:active {
        &,
        &::before {
          color: var(--color-white);
        }
      }
    }

    .filter-links li a {
      border-color: var(--color-border-light);
      color: var(--color-paragraph);

      &.current {
        border-color: var(--color-border-light);
        color: var(--color-paragraph);
      }
    }

    .control-section .accordion-section-title,
    .customize-pane-child .accordion-section-title,
    &.js .control-section .accordion-section-title:focus,
    &.js .control-section .accordion-section-title:hover,
    &.js .control-section.open .accordion-section-title,
    &.js .control-section:hover .accordion-section-title {
      background-color: var(--color-ultra-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);
    }

    #dashboard_right_now .sub,
    .wp-tab-active,
    ul.add-menu-item-tabs li.tabs,
    ul.category-tabs li.tabs,
    .categorydiv div.tabs-panel,
    .customlinkdiv div.tabs-panel,
    .posttypediv div.tabs-panel,
    .taxonomydiv div.tabs-panel,
    .wp-tab-panel {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);
    }

    .wp-editor-expand #wp-content-editor-tools,
    #wp-content-editor-tools {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);
    }

    .accordion-section.open:hover,
    .accordion-section,
    .accordion-section.open:focus,
    #menu-management .menu-edit,
    #menu-settings-column .accordion-container,
    .comment-ays,
    .feature-filter,
    .imgedit-group,
    .manage-menus,
    .menu-item-handle,
    .popular-tags,
    .stuffbox,
    .widget-inside,
    .widget-top,
    p.popular-tags,
    .postbox .hndle,
    .stuffbox .hndle,
    .widgets-chooser ul {
      border-color: var(--color-border-light);
    }

    #major-publishing-actions,
    .menu-item-settings,
    .link-to-original,
    &.nav-menus-php #post-body {
      background-color: var(--color-dark-grey);
      border-color: var(--color-border-light);
    }

    .accordion-section-title:hover::after,
    .handlediv:focus,
    .handlediv:hover,
    .item-edit:focus,
    .item-edit:hover,
    .postbox .handlediv.button-link:focus,
    .postbox .handlediv.button-link:hover,
    .sidebar-name:hover .sidebar-name-arrow,
    .widget-action:focus,
    .widget-top:hover .widget-action {
      color: var(--color-white);
    }

    .menu-item-handle,
    .widget .widget-top,
    .widget-inside,
    .manage-menus,
    #menu-management {
      background-color: var(--color-ultra-grey);
      border-color: var(--color-border-light);
    }

    .menu-item-bar .menu-item-handle {
      &:hover,
      &:focus {
        border-color: var(--color-border-light);
      }
    }

    .wp-editor-container,
    .wp-editor-expand #post-status-info {
      border-color: var(--color-border-light);
    }

    .nav-tab-wrapper,
    .wrap h2.nav-tab-wrapper,
    h1.nav-tab-wrapper {
      border-color: var(--color-border-light);
    }

    .nav-tab {
      background-color: var(--color-dark-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);

      &:focus,
      &:hover {
        background-color: var(--color-ultra-grey);
      }
    }

    .nav-tab-active,
    .nav-tab-active:focus,
    .nav-tab-active:focus:active,
    .nav-tab-active:hover,
    .about-wrap h2 .nav-tab-active,
    .media-modal-content {
      background-color: var(--color-ultra-grey);
      border-bottom: var(--color-light-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);
    }

    .media-frame-content,
    .edit-attachment-frame .attachment-info {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);
    }

    .edit-attachment-frame .edit-media-header .left,
    .edit-attachment-frame .edit-media-header .right,
    &.upload-php .media-modal-close {
      border-color: var(--color-border-light);
    }

    #template textarea {
      background-color: var(--color-black);
      border-color: var(--color-black);
      color: var(--color-paragraph);
    }

    #templateside .highlight {
      background-color: var(--color-dark-grey);
      color: var(--color-paragraph);
    }

    .theme-overlay {
      .theme-backdrop,
      .theme-wrap {
        background-color: var(--color-base-grey);
      }

      .screenshot {
        border-color: var(--color-border-light);
      }

      .current-label {
        background-color: var(--color-dark-grey);
      }

      .theme-name,
      .theme-version,
      .theme-author,
      .theme-description {
        color: var(--color-paragraph);
      }

      .theme-tags {
        border-color: var(--color-border-light);
        color: var(--color-paragraph);

        span {
          color: var(--color-white);
        }
      }

      .theme-header {
        &,
        .close,
        .left,
        .right {
          border-color: var(--color-border-light);

          &::before {
            color: var(--color-paragraph);
          }

          &:hover,
          &:focus {
            &::before {
              color: var(--color-black);
            }
          }

          &.disabled::before {
            color: var(--color-paragraph);
          }
        }
      }

      .theme-actions {
        background-color: var(--color-dark-grey);
        border-color: var(--color-border-light);
      }
    }

    .theme-browser .theme {
      border-color: var(--color-border-light);

      &.active .theme-name,
      &.add-new-theme a:focus,
      &.add-new-theme a:hover {
        &::after {
          background-color: var(--color-dark-grey);
        }
      }

      .theme-name,
      .theme-actions,
      .theme-screenshot {
        background-color: var(--color-dark-grey);
      }
    }

    #the-comment-list .approve a {
      color: var(--color-accent-green);
    }

    .health-check-accordion {
      border-color: var(--color-border-light);
    }

    .health-check-header,
    .health-check-accordion-panel {
      background-color: var(--color-ultra-grey);
    }

    .health-check-accordion-trigger {
      background-color: var(--color-ultra-grey);
      color: var(--color-paragraph);

      .badge {
        color: var(--color-paragraph);
      }
    }
  }

  .site-health-view-passed {
    .icon {
      border-color: var(--color-border-light);
      color: var(--color-paragraph);
    }
  }

  #wp-link {
    h1 {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);
    }

    #link-selector {
      background-color: var(--color-dark-grey);

      .howto {
        color: var(--color-paragraph);
      }

      .query-results {
        background-color: var(--color-dark-grey);
        border-color: var(--color-border-light);
      }

      .query-notice {
        border-bottom-color: var(--color-ultra-grey);

        .query-notice-default,
        .query-notice-hint {
          background-color: var(--color-dark-grey);
          color: var(--color-white);
        }
      }

      ul {
        li {
          background-color: var(--color-dark-grey);
          border-color: var(--color-border-light);
          color: var(--color-paragraph);

          span {
            color: var(--color-paragraph);
          }

          &.selected,
          &:hover,
          &:focus {
            background-color: var(--color-base-grey);
            color: var(--color-white);
          }
        }
      }
    }

    .submitbox {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);
    }
  }

  div.mce-inline-toolbar-grp {
    .wp-link-preview {
      a {
        color: var(--color-bright-blue);

        &:hover,
        &:focus {
          color: var(--color-blue);
        }
      }
    }

    &.mce-arrow-up {
      &::before {
        border-bottom-color: var(--color-ultra-grey);
      }

      &::after {
        border-bottom-color: var(--color-dark-grey);
      }
    }
  }

  &.wp-customizer {
    #screen-options-wrap {
      background-color: var(--color-ultra-grey);
      border-color: var(--color-border-light);
    }

    .menu-item-settings,
    .menu-item-bar .menu-item-handle {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);
    }
  }

  #plugin-information {
    &-scrollable {
      #plugin-information-tabs {
        background-color: var(--color-ultra-grey);
        border-color: var(--color-border-light);

        a.current {
          background-color: var(--color-base-grey);
          border-color: var(--color-border-light);
          border-bottom-color: var(--color-base-grey);
          color: var(--color-paragraph);
        }
      }

      #plugin-information-content {
        background-color: var(--color-base-grey);

        .wrap {
          background-color: var(--color-base-grey);
        }

        .fyi {
          background-color: var(--color-ultra-grey);
          border-color: var(--color-border-light);
          color: var(--color-paragraph);

          .counter-back {
            background-color: var(--color-light-grey);
          }

          h3,
          strong {
            color: var(--color-light-grey) !important;
          }
        }
      }
    }

    &-footer {
      background-color: var(--color-ultra-grey) !important;
      border-color: var(--color-dark-grey) !important;
    }
  }

  #customize-controls {
    border-color: var(--color-border-light);

    .cannot-expand:hover .accordion-section-title,
    .panel-meta.customize-info .accordion-section-title:hover,
    .cannot-expand:focus .accordion-section-title,
    .panel-meta.customize-info .accordion-section-title:focus,
    .customize-info .customize-panel-description,
    .customize-info .customize-section-description,
    .no-widget-areas-rendered-notice,
    #customize-outer-theme-controls .customize-info .customize-section-description {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);
    }

    .control-section .accordion-section-title:focus .menu-in-location,
    .control-section .accordion-section-title:hover .menu-in-location,
    .theme-location-set {
      color: var(--color-paragraph);
    }

    #customize-sidebar-outer-content {
      border-color: var(--color-border-light);
    }

    .customize-panel-back,
    .customize-section-back {
      background-color: var(--color-base-grey);
      border-color: transparent;
      color: var(--color-paragraph);
    }

    #customize-theme-controls {
      .control-panel-themes > .accordion-section-title {
        background-color: var(--color-base-grey);
        border-color: var(--color-border-light);
        color: var(--color-paragraph);
      }

      .accordion-section-content,
      .description {
        color: var(--color-paragraph);
      }

      .control-panel-content:not(.control-panel-nav_menus) .control-section:nth-child(2),
      .control-panel-nav_menus .control-section-nav_menu,
      .control-section-nav_menu_locations .accordion-section-title,
      #accordion-section-menu_locations > .accordion-section-title,
      .control-section:last-of-type.open,
      .control-section:last-of-type > .accordion-section-title,
      .control-section.open {
        border-color: var(--color-border-light);
      }
    }

    .control-section .accordion-section-title:focus,
    .control-section .accordion-section-title:hover,
    .control-section.open .accordion-section-title,
    .control-section:hover > .accordion-section-title {
      background-color: var(--color-ultra-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);

      &::after {
        color: var(--color-paragraph);
      }
    }

    .accordion-section-title,
    .customize-section-title {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);

      &:hover,
      &:focus {
        background-color: var(--color-base-grey);
      }

      h3 {
        color: var(--color-paragraph);
      }
    }

    .customize-info {
      border-color: var(--color-border-light);

      .customize-help-toggle {
        color: var(--color-paragraph);
      }

      .accordion-section-title,
      .customize-panel-description {
        background-color: var(--color-base-grey);
        border-color: var(--color-border-light);
        color: var(--color-paragraph);
      }
    }

    #customize-header-actions,
    .customize-controls-close {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);
    }

    .wp-full-overlay-footer {
      background-color: var(--color-ultra-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);

      .devices {
        box-shadow: none;
      }
    }

    .customize-controls-close {
      border-color: transparent;
      color: var(--color-paragraph);

      &:hover,
      &:focus {
        color: var(--color-white);
      }
    }

    .wp-full-overlay-sidebar-content {
      background-color: var(--color-dark-grey);
    }

    .collapse-sidebar-arrow {
      &::before {
        color: var(--color-dark-grey);
      }
    }

    .collapse-sidebar {
      span {
        color: var(--color-paragraph);
      }
    }
  }

  .media-modal {
    button.media-modal-close {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);

      &:hover,
      &:focus {
        background-color: var(--color-dark-silver);
        border-color: var(--color-border-light);

        span {
          &::before {
            color: var(--color-ultra-grey);
          }
        }
      }

      span {
        &::before {
          color: var(--color-paragraph);
        }
      }
    }

    .media-menu {
      background-color: var(--color-ultra-grey);
      border-color: var(--color-border-light);

      a {
        color: var(--color-primary);

        &:hover,
        &:focus {
          color: var(--color-blue);
        }
      }

      .separator {
        border-color: var(--color-border-light);
      }

      .active,
      .active:hover,
      .active:focus {
        color: var(--color-white);
      }
    }

    .media-router {
      a {
        color: var(--color-primary);

        &:hover,
        &:focus {
          color: var(--color-blue);
        }
      }

      .active {
        background-color: var(--color-base-grey);
        border-color: var(--color-border-light);
        color: var(--color-white);
      }
    }

    .media-sidebar {
      background-color: var(--color-ultra-grey);
      border-color: var(--color-white);
      border-left-color: var(--color-ultra-grey);

      .setting span {
        color: var(--color-paragraph);
      }

      h2 {
        color: var(--color-white);
      }

      .attachment-info {
        border-color: var(--color-white);

        .details {
          color: var(--color-paragraph);
        }

        .filename {
          color: var(--color-white);
        }
      }
    }

    .media-selection {
      &::after {
        background-image: none;
      }
    }

    &-content {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);

      .media-frame {
        &-title,
        &-content {
          background-color: var(--color-base-grey);
          border-color: var(--color-border-light);
          color: var(--color-paragraph);

          h1 {
            color: var(--color-paragraph);
          }
        }

        &-content {
          .setting span {
            color: var(--color-paragraph);
          }

          .upload-ui h2,
          .upload-ui p {
            color: var(--color-paragraph);
          }
        }

        &-toolbar {
          .media-toolbar {
            border-color: var(--color-border-light);
          }
        }

        &.hide-router .media-frame {
          &-title {
            border-bottom: none;
          }
        }
      }

      .imgedit-wrap {
        .imgedit-settings {
          background-color: var(--color-ultra-grey);
          border-color: var(--color-border-light);

          h2 {
            color: var(--color-white);
          }
        }
      }

      .edit-media-header {
        background-color: var(--color-ultra-grey);

        button {
          background-color: var(--color-ultra-grey);

          &::before {
            color: var(--color-paragraph);
          }
        }
      }

      .attachment-media-view {
        background-color: var(--color-dark-grey);
      }

      .edit-attachment-frame {
        .edit-media-header {
          .left,
          .right {
            background-color: var(--color-ultra-grey);
            border-color: var(--color-border-light);
          }
        }

        .attachment-info {
          background-color: var(--color-ultra-grey);
          border-color: var(--color-border-light);
          color: var(--color-paragraph);

          span,
          .filename {
            color: var(--color-paragraph);
          }
        }
      }
    }

    .wp-core-ui {
      .attachment-preview {
        background-color: var(--color-heavy-grey);
        box-shadow: inset 0 0 15px rgb(0 0 0 / .2), inset 0 0 0 1px rgb(0 0 0 / .05);
      }

      .attachment.selected {
        box-shadow: inset 0 0 0 5px var(--color-dark-silver), inset 0 0 0 7px #ccc;
      }

      .attachment:focus,
      .attachment.details {
        box-shadow: inset 0 0 2px 3px var(--color-dark-silver), inset 0 0 0 7px var(--color-primary);
      }
    }

    .embed-url {
      background-color: var(--color-dark-silver);
    }
  }

  #file-editor-warning {
    background-color: var(--color-base-grey);
    color: var(--color-paragraph);
  }

  #adminmenu a.wp-has-current-submenu::after,
  #adminmenu > li.current > a.current::after {
    border-right-color: var(--color-base-grey);
  }

  .notice,
  .error,
  .updated {
    background-color: var(--color-charade);
    border-color: var(--color-border-light);
  }

  .wp-editor-tabs {
    button {
      background-color: var(--color-dark-silver);
      border-bottom: none;
      border-color: var(--color-border-light);
      color: var(--color-paragraph);

      &:hover,
      &:focus {
        background-color: var(--color-dark-grey);
        border-color: var(--color-border-light);
        color: var(--color-white);
      }
    }
  }

  .html-active {
    .wp-editor-tabs {
      button.switch-html {
        background-color: var(--color-dark-grey);
        border-color: var(--color-border-light);
        color: var(--color-white);
      }
    }
  }

  .tmce-active {
    .wp-editor-tabs {
      button.switch-tmce {
        background-color: var(--color-dark-grey);
        border-color: var(--color-border-light);
        color: var(--color-white);
      }
    }
  }

  div.mce {
    &-toolbar {
      &-grp {
        background-color: var(--color-dark-grey);
        border-color: var(--color-border-light);
        color: var(--color-paragraph);
      }
    }

    .mce-btn-group .mce-btn {
      background-color: var(--color-clear);
      border-color: var(--color-clear);

      i {
        color: var(--color-paragraph);
      }

      &.mce-disabled {
        &:hover,
        &:focus {
          border-color: var(--color-border-light);
        }
      }

      &.mce-listbox {
        background-color: var(--color-base-grey);
        border-color: var(--color-border-light);

        span {
          color: var(--color-paragraph);
        }

        i {
          border-top-color: var(--color-light-grey);
        }

        &.mce-active,
        &:hover,
        &:focus {
          background-color: var(--color-dark-grey);
          border-color: var(--color-border-light);

          span {
            color: var(--color-white);
          }

          i {
            border-top-color: var(--color-light-grey);
          }
        }

        &.mce-active {
          i {
            border-bottom-color: var(--color-light-grey);
          }
        }
      }

      &.mce-active,
      &:hover,
      &:focus {
        background-color: var(--color-base-grey);
        border-color: var(--color-border-light);
        box-shadow: none;

        i {
          color: var(--color-white);
        }
      }
    }

    &-panel {
      background-color: var(--color-dark-grey);

      &.mce-menu {
        border-color: var(--color-border-light);
      }

      .mce-menu-item {
        .mce-ico,
        .mce-text {
          color: var(--color-paragraph);
        }

        &.mce-active,
        &.mce-selected,
        &:focus,
        &:hover {
          background-color: var(--color-blue);

          .mce-ico,
          .mce-text {
            color: var(--color-white);
          }
        }
      }
    }
  }

  .wp-pointer {
    &-content {
      background-color: var(--color-dark-grey);
      border-color: var(--color-border-light);
      color: var(--color-paragraph);

      h3 {
        border-color: var(--color-border-light);
      }
    }

    &-buttons {
      a.close {
        &,
        &::before {
          color: var(--color-primary);
        }

        &:hover,
        &:focus {
          &,
          &::before {
            color: var(--color-white);
          }
        }
      }
    }

    &-left {
      .wp-pointer-arrow {
        border-right-color: var(--color-ultra-grey);

        &-inner {
          border-right-color: var(--color-dark-grey);
        }
      }
    }
  }

  .CodeMirror {
    background-color: var(--color-ultra-grey);
    border-color: var(--color-border-light);
    color: var(--color-paragraph);

    &-gutter {
      background-color: var(--color-base-grey);
      border-color: var(--color-border-light);

      &s {
        border-color: var(--color-border-light);
      }
    }

    &-activeline-background {
      background-color: var(--color-dark-grey);
    }

    &-linenumber {
      color: var(--color-paragraph);
    }

    &-code {
      .cm {
        &-tag,
        &-builtin,
        &-qualifier {
          color: var(--color-accent-green);
        }

        &-property {
          color: var(--color-primary);
        }

        &-number {
          color: var(--color-accent-purple);
        }

        &-error {
          color: var(--color-accent-red);
        }

        &-atom {
          color: var(--color-accent-yellow);
        }

        &-comment {
          color: var(--color-paragraph);
        }

        &-keyword {
          color: var(--color-editor-lavender);
        }

        &-def {
          color: var(--color-medium-blue);
        }

        &-variable_1,
        &-variable_2 {
          color: var(--color-editor-sunglo);
        }

        &-string {
          color: var(--color-editor-olivine);
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-paragraph);
  }

  .notification-dialog,
  iframe {
    background-color: var(--color-dark-grey);
  }

  // Autocomplete inputs
  input[type="number"] {
    /* stylelint-disable-next-line */
    -webkit-text-fill-color: var(--color-white) !important;
    /* stylelint-disable-next-line */
    text-fill-color: var(--color-white) !important;
  }

  .button,
  .button-secondary,
  &.wp-core-ui .button,
  &.wp-core-ui .button-secondary {
    background-color: var(--color-dark-silver);
    border-color: var(--color-border-light);
    color: var(--color-white);

    span {
      &,
      &::before {
        color: var(--color-white);
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-heavy-grey);
      border-color: var(--color-border-light);
      color: var(--color-white);
    }

    &:active {
      background-color: var(--color-dark-grey);
      border-color: var(--color-border-light);
    }

    &.active {
      background-color: var(--color-dark-grey);
      border-color: var(--color-border-light);

      &:hover,
      &:focus {
        background-color: var(--color-heavy-grey);
        border-color: var(--color-border-light);
      }
    }
  }

  .button-primary,
  .page-title-action,
  &.wp-core-ui .button-primary,
  .wrap a.page-title-action {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-white);

    &.button-hero {
      box-shadow: 0 2px 0 var(--color-ultra-blue) !important;

      &.active,
      &:active {
        box-shadow: inset 0 3px 0 var(--color-secondary) !important;
      }
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--color-secondary);
      border-color: var(--color-secondary);
      color: var(--color-white);
    }

    &:active {
      background-color: var(--color-dark-blue);
    }
  }

  &.wp-core-ui {
    .button-disabled,
    .button-secondary.disabled,
    .button-secondary:disabled,
    .button-secondary[disabled],
    .button.disabled,
    .button:disabled,
    .button[disabled] {
      background-color: var(--color-dark-grey) !important;
      border-color: var(--color-border-light) !important;
      color: var(--color-light-grey) !important;
      text-shadow: none !important;
    }

    select:hover,
    select:focus {
      color: var(--color-white);
    }
  }

  .media-frame {
    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="search"],
    input[type="email"],
    input[type="url"],
    select,
    textarea {
      background-color: var(--color-black);
      border-color: var(--color-black);
      color: var(--color-white);

      &::placeholder {
        color: var(--color-white);
      }
    }
  }

  #titlediv #title,
  input[type="text"],
  input[type="search"],
  input[type="radio"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[type="password"],
  input[type="checkbox"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  select,
  textarea {
    background-color: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);

    &.readonly,
    &.disabled {
      background-color: var(--color-dark-grey);
      color: var(--color-paragraph);
      opacity: .75;
    }

    &[readonly],
    &[disabled] {
      background-color: var(--color-dark-grey);
      color: var(--color-paragraph);
      opacity: .75;
    }
  }

  input[type="checkbox"]:checked::before {
    color: var(--color-white);
    filter: grayscale(1) brightness(2);
  }

  input[type="radio"]:checked::before {
    background-color: var(--color-white);
    margin-left: 3.4px;
  }

  // stylelint-disable selector-pseudo-element-no-unknown, selector-pseudo-class-no-unknown
  ::input-placeholder,
  ::placeholder,
  :input-placeholder,
  :placeholder {
    color: var(--color-white);
    opacity: 1;
  }

  a,
  .button-link {
    color: var(--color-bright-blue);

    &:hover {
      color: var(--color-primary);
    }

    &:focus {
      box-shadow: 0 0 0 1px var(--color-primary), 0 0 2px 1px rgb(0 160 210 / .8);
      color: var(--color-primary);
    }
  }

  .select2-container--default .select2-selection--single,
  .select2-container--default .select2-selection--multiple,
  .select2-dropdown {
    background-color: var(--color-dark-silver);
    border-color: var(--color-border-light);
    color: var(--color-paragraph);

    .select2-selection__rendered {
      color: var(--color-white) !important;
    }

    .select2-selection__arrow {
      filter: grayscale(1) brightness(2);
    }
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--color-paragraph);
  }

  .select2-container--default .select2-results__option--highlighted[aria-selected],
  .select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: var(--color-ultra-grey);
    color: var(--color-paragraph);
  }

  #ui-datepicker-div {
    background-color: var(--color-base-grey);
    color: var(--color-paragraph);

    .ui-datepicker-header {
      background-color: var(--color-ultra-grey);
      background-image: none;
      border: 0;
      color: var(--color-paragraph);
    }

    .ui-datepicker-prev span,
    .ui-datepicker-next span {
      filter: grayscale(1) brightness(12);
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
      background-color: var(--color-dark-grey);
      color: var(--color-paragraph);
    }

    .ui-datepicker-calendar {
      tbody {
        background-color: var(--color-base-grey);
        color: var(--color-paragraph);
      }
    }
  }
}

input.readonly,
input[readonly],
textarea.readonly,
textarea[readonly] {
  background-color: var(--color-dark-grey);
}
