:root {
  --color-light-grey: #f2f2f2;
  --text-color: var(--color-light-grey);
  --base-color: var(--color-ultra-grey);
  --icon-color: var(--color-light-grey);
  --highlight-color: var(--color-primary);
  --notification-color: #d54e21;

  // global
  --color-body-background: var(--color-base-grey);
  --color-link: #0073aa;
  --color-link-focus: #1197d4;
  --color-button: var(--highlight-color);
  --color-button-text: var(--text-color);
  --color-form-checked: #7e8993;

  // admin menu & admin-bar
  --menu-text: #f2f2f2;
  --menu-icon: #f2f2f2;
  --color-icons: #f2f2f2;
  --menu-background: var(--base-color);
  --menu-highlight-text: var(--text-color);
  --menu-highlight-icon: var(--text-color);
  --menu-highlight-background: var(--highlight-color);
  --menu-current-background: var(--menu-highlight-background);
  --menu-submenu-focus-text: var(--highlight-color);
  --menu-submenu-current-text: #f2f2f2;
  --menu-submenu-background: var(--base-color);
  --menu-bubble-text: #f2f2f2;
  --menu-bubble-background: var(--notification-color);
  --menu-bubble-current-text: #f2f2f2;
  --menu-collapse-text: #f2f2f2;
  --menu-collapse-icon: #f2f2f2;
  --menu-collapse-focus-text: #f2f2f2;
  --menu-collapse-focus-icon: #f2f2f2;
  --adminbar-recovery-exit-text: #f2f2f2;
  --adminbar-recovery-exit-background: var(--menu-bubble-background);
}
